<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<typeAlias type="com.andamiro.pos.model.MemberDTO" alias="MemberDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.service.IMemberService" alias="memberService"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.LoginDTO" alias="LoginDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.ShopDTO" alias="ShopDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.UpdateDTO" alias="UpdateDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.SessionDTO" alias="SessionDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.MenuDTO" alias="MenuDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.CategoryDTO" alias="CategoryDTO"></typeAlias>
	<typeAlias type="com.andamiro.pos.model.SaleDTO" alias="SaleDTO"></typeAlias>
	</typeAliases>
	
	<mappers>
		<mapper resource="sqlmap/MemberMapper.xml" />
		<mapper resource="sqlmap/ShopMapper.xml" />
		<mapper resource="sqlmap/SaleMapper.xml" />
	</mappers>
</configuration>
